* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.centr_header {
    padding-left: calc(50% - 565px);
    padding-right: calc(50% - 556px);
}

.centr__top {
    padding-left: calc(50% - 796px);
    padding-right: calc(50% - 569px);
}

.centr__product {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background: #222;
    display: flex;
    justify-content: space-between;
}

.img__header__logo {
    width: 44px;
    height: 38px;
    padding-top: 18px;
    padding-bottom: 19px;

}

.img__header__forma {
    width: 26px;
    height: 26px;
    padding-left: 41px;
    padding-top: 18px;
    padding-bottom: 20px;

}

.img__menu {
    display: none;
}

.header__menu {
    width: 159px;
    height: 29px;
    padding-top: 26px;
    padding-bottom: 20px;
}

.top {
    background: #F1E4E6;
    display: flex;
}

.top__info {
    display: flex;
    justify-content: space-between;
}

.main__img {
    max-width: 800px;
    max-height: 764px;
}

.for__text__img {
    width: 12px;
    height: 92px;
    padding-top: 290px;

}

.top__text {
    width: 377px;
    height: 93px;
    padding-left: 16px;
    padding-top: 290px;
}

.product__menu {
    padding-top: 65px;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    gap: 30px;
    grid-template-rows: 260px 180px;
    row-gap: 30px;
    justify-content: space-between;
}

.product__menu__img4 {

    width: 1140px;
    height: 180px;
    position: absolute;
}

.product__menu__img {
    width: 360px;
    height: 260px;
    position: absolute;
}

.img__product__menu__fon {
    position: absolute;
}

.img__product__menu__fon4 {
    width: 1140px;
    height: 180px;
    position: absolute;
}

.text__product__menu {
    position: absolute;
    padding-top: 105px;
    padding-left: 103px;
}

.bottom {
    position: absolute;
    padding-top: 54px;
    padding-left: 490px;
}

.submain__text {
    font-family: 'Lato', sans-serif;
    width: 180px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.main__text {
    font-family: 'Lato', sans-serif;
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.title {
    text-align: center;
    padding-top: 96px;
}

.text__title {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.text__subtitle {
    font-family: 'Lato', sans-serif;
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    padding-top: 6px;
    text-align: center;
}

.list__product {
    padding-top: 48px;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    gap: 30px;
    grid-template-rows: 50% 50%;
    row-gap: 30px;
    justify-content: space-between;
}

.img__product {
    width: 360px;
    height: 420px;
}

.fon {
    width: 360px;
    height: 420px;
    background-image: url("img/product/fon_product.png");
}

.img__product__in__fon {
    padding-left: 108px;
    padding-right: 110px;
}

.title__product {
    font-family: 'Lato', sans-serif;
    padding-top: 24px;
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.info__product {
    font-family: 'Lato', sans-serif;
    padding-top: 13px;
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;

}

.price {
    font-family: 'Lato', sans-serif;
    padding-top: 18px;
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}

.button {
    padding-top: 48px;
    padding-bottom: 60px;
    padding-left: calc(50% - 106px);
    padding-right: calc(50% - 106px);
    color: #F26376;
}

.button__all__product {
    width: 212px;
    height: 48px;
    border-color: #FF6A6A;
    background-color: #ffffff;
}

.text__button {
    color: #F26376;
    font-size: 16px;
    font-weight: 400;
}




@media (min-width: 768px) and (max-width: 1024px) {
    .centr_header {
        padding-left: calc(50% - 344px);
        padding-right: calc(50% - 344px);

    }

    .centr__product {
        padding-left: calc(50% - 366px);
        padding-right: calc(50% - 366px);
    }

    .centr__top {
        padding-left: calc(50% - 360px);
        padding-right: calc(50% - 360px);

    }

    .header__logo__form {
        padding-left: 0px;
    }

    .header__menu {
        margin-right: 0px;
    }

    .main__img {
        max-width: 386px;
        max-height: 368px;
    }


    .for__text__img {
        padding-top: 138px;
        padding-bottom: 137px;
    }

    .top__text {
        width: 283px;
        height: 78px;
        padding-top: 138px;
        padding-bottom: 151px;
        margin-right: 0px;
    }

    .product__menu {
        grid-template-columns: 231px 231px 231px;
        gap: 19px;
        grid-template-rows: 167px 116px;
    }

    .product__menu__img4 {

        width: 732px;
        height: 116px;
    }

    .product__menu__img {
        width: 231px;
        height: 167px;
    }

    .img__product__menu__fon {
        width: 231px;
        height: 167px;
    }

    .img__product__menu__fon4 {
        width: 732px;
        height: 116px;
    }

    .text__product__menu {
        position: absolute;
        padding-top: 60px;
        padding-left: 25px;
    }

    .bottom {
        position: absolute;
        padding-top: 33px;
        padding-left: 287px;
    }

    .title {
        padding-top: 109px;
    }

    .list__product {
        padding-top: 72px;
        display: grid;
        grid-template-columns: 360px 360px;
        grid-template-rows: 581px 581px 581px;
        gap: 16px;
    }

    .button {
        padding-top: 48px;
        padding-bottom: 70px;
        color: #F26376;
        padding-left: calc(50% - 106px);
        padding-right: calc(50% - 106px);
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .centr_header {
        padding-left: calc(50% - 171px);
        padding-right: calc(50% - 171px);
    }

    .img__header__menu {
        display: none;
    }

    .img__menu {
        display: unset;
    }

    .header__menu {
        width: 32px;
        height: 23px;
        padding-top: 25px;
        padding-bottom: 26px;
    }

    .top {
        background: #F1E4E6;
        justify-content: center;
    }

    .top__info {
        display: flex;
        justify-content: space-between
    }

    .main__img {
        display: none;
    }

    .for__text__img {
        width: 12px;
        height: 61px;
        padding-top: 144px;

    }

    .top__text {
        width: 236px;
        height: 56px;
        padding-left: 15px;
        padding-top: 148px;
    }

    .product__menu {
        padding-top: 65px;
        display: grid;
        grid-template-columns: 344px;
        gap: 32px;
        grid-template-rows: 247px 247px 247px 111px;
        justify-content: center;
    }

    .product__menu__img4 {

        width: 344px;
        height: 111px;
        position: absolute;
    }

    .product__menu__img {
        width: 344px;
        height: 247px;
        position: absolute;
    }

    .img__product__menu__fon {
        width: 344px;
        height: 247px;
        position: absolute;
    }

    .img__product__menu__fon4 {
        width: 344px;
        height: 111px;
        position: absolute;
    }

    .text__product__menu {
        position: absolute;
        padding-top: 108px;
        padding-left: 83px;
    }

    .bottom {
        position: absolute;
        padding-top: 32px;
        justify-content: center;
    }

    .submain__text {
        font-family: 'Lato', sans-serif;
        width: 180px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }

    .main__text {
        font-family: 'Lato', sans-serif;
        color: #F16D7F;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }

    .title {
        text-align: center;
        padding-top: 64px;
    }

    .centr__product {
        justify-content: center;
    }

    .list__product {
        padding-top: 65px;
        grid-template-columns: 360px;
        gap: 15px;
        grid-template-rows: 580px;
        justify-content: center;
    }

    .img__product {
        width: 360px;
        height: 420px;
    }

    .fon {
        width: 360px;
        height: 420px;
        background-image: url("img/product/fon_product.png");
    }

    .img__product__in__fon {
        padding-left: 108px;
        padding-right: 110px;
    }

    .title__product {
        padding-left: 16px;
    }

    .info__product {
        padding-left: 16px;


    }

    .price {
        padding-left: 16px;
    }

    .button {
        padding-top: 40px;

    }


}